
body {
	background: #33cc33;
	font-family: sans-serif;
}

body fieldset {
	box-shadow: 0 8px 10px #29a329;
}

body.error {
	background: #f04000;
}

body.error fieldset {
	box-shadow: 0 8px 10px #bd3200;
}

h1, h2 {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-family: sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h1 {
	top: 24px;
	color: white;
	font-size: 12px;
}

h2 {
	top: 44px;
	color: white;
	font-size: 10px;
	opacity: 0.7;
}


form {
	position: absolute;
	width: 300px;
	height: 60px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

form fieldset {
	position: absolute;
	width: 300px;
	height: 60px;
	background: white;
	border-radius: 3px;
	opacity: 0;
	transform: scale(0.2);
	transition: all 0.4s ease-in-out;
}

form fieldset input, form fieldset p {
	display: inline-block;
	width: 200px;
	margin-left: 50px;
	color: #333333;
	font-size: 16px;
	letter-spacing: 1px;
}

form fieldset p {
	margin-top: 22px;
	text-align: center;
}

form fieldset input {
	height: 40px;
	margin-top: 8px;
	border: none;
	outline: none;
}

form fieldset .icon {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 15px;
	transition: all 0.4s ease;
}

form fieldset .icon i {
	position: absolute;
	display: block;
}

form fieldset .icon i::before, form fieldset .icon i::after {
	position: absolute;
	content: '';
}

form fieldset .icon.left {
	left: 10px;
}

form fieldset .icon.right {
	right: 10px;
	cursor: pointer;
}

form fieldset .icon.button:hover {
	background: #f2f2f2;
	border-radius: 3px;
	transition: all 0.4s ease;
}

form fieldset.enable {
	z-index: 1;
	opacity: 1;
	transition: all 0.5s ease-out 0.2s;
	transform: scale(1);
	animation: enable 0.5s ease-out 0.2s;
}

form fieldset.disable {
	opacity: 0;
	transition: all 0.3s ease-in;
	transform: translateY(120px) scale(0.9);
}

body.error fieldset {
	transform-origin: 50% 100%;
	animation: error 0.3s ease-out;
}

@keyframes enable {
	0% {
		opacity: 0;
		transform: scale(0.2);
	}

	60% {
		transform: scale(1.1);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes error {
	0%, 50%, 100% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(-3deg);
	}

	75% {
		transform: rotate(3deg);
	}
}

/**
 * Icons in CSS, long as f****
 */
.icon .arrow {
	width: 2px;
	height: 17px;
	top: 5px;
	left: 14px;
	background: #333333;
}

.icon .arrow::before {
	width: 6px;
	height: 6px;
	bottom: -1px;
	left: -3px;
	border-color: #333333;
	border-right: 2px solid;
	border-bottom: 2px solid;
	transform: rotate(45deg);
}

.icon .user {
	width: 20px;
	height: 10px;
	bottom: 5px;
	left: 5px;
	box-shadow: 0 0 0 2px #333333 inset;
	border-radius: 6px 6px 3px 3px;
}

.icon .user::before {
	width: 10px;
	height: 10px;
	top: -9px;
	left: 5px;
	box-shadow: 0 0 0 2px #333333 inset;
	border-radius: 50%;
}

.icon .letter {
	width: 20px;
	height: 12px;
	top: 9px;
	left: 5px;
	box-shadow: 0 0 0 2px #333333 inset;
	border-radius: 3px;
}

.icon .letter::before, .icon .letter::after {
	width: 11px;
	height: 2px;
	top: 4px;
	background: #333333;
}

.icon .letter::before {
	left: 0;
	transform: rotate(30deg);
}

.icon .letter::after {
	right: 0;
	transform: rotate(-30deg);
}

.icon .lock {
	width: 20px;
	height: 16px;
	top: 9px;
	left: 5px;
	box-shadow: 0 0 0 2px #333333 inset;
	border-radius: 3px;
}

.icon .lock::before {
	width: 8px;
	height: 8px;
	top: -4px;
	left: 4px;
	border: 2px solid transparent;
	border-top: 2px solid #333333;
	border-right: 2px solid #333333;
	border-radius: 50%;
	transform: rotate(-45deg);
}

.icon .lock::after {
	width: 6px;
	height: 7px;
	top: 4px;
	left: 7px;
	box-shadow: 0 0 0 2px #333333 inset;
}

.icon .heart {
	width: 10px;
	height: 10px;
	top: 11px;
	left: 7px;
	background: #ff5233;
	transform: rotate(45deg);
}

.icon .heart::before, .icon .heart::after {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #ff5233;
}

.icon .heart::before {
	left: -6px;
}

.icon .heart::after {
	top: -6px;
}
/* 

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,legend {
  font-family: 'Nunito', sans-serif;
  color: white;
}

legend{
    padding-bottom: 5px;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #2b014f;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="email"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

.submit-btn {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {
  form {
    max-width: 480px;
  }
} */