$background-color: #12163b;
$blue-color: #760dff;
$dark-blue-color: #0b132e;
$violet-color: #d804cd;

body{
    background-color: $background-color;
    padding: 0;
    padding-top: 10px;
    margin: 0;
    *{
        color: white;
        font-family: 'Roboto', sans-serif;
    }
    p{
        font-weight: 700;
    }
    h1{
        padding: 10px;
    }
    h5{
        padding: 10px;
    }
    .active{
        color: $blue-color;
    }
    .home-btn{
        margin: 20px;
        margin-left:30px;
        margin-right:30px;
        width: 200px;
        color: white;
    }

    .schedule-btn{
        background-color: $blue-color;
    }

    .join-btn{
        background-color: $violet-color;
        &:hover{
            color: white;
        }
        &:active{
            color: white;
        }
    }
    .submit-btn{
        background-color: $background-color;
        &:hover{
            color: white;
        }
        &:active{
            color: white;
        }
    }

    .modal-content {
        background-color: $background-color;
        
        .modal-title{
            padding: 20px;
        }

        #schedule-form {
            position: relative;
            overflow: hidden;
            .input-area {
                margin-bottom: 40px;
                position: relative;
                &.button-area {
                text-align: center;
                margin-bottom: 0;
                }
            }
            input,
            textarea {
                height: 100%;
                letter-spacing: 0.1rem;
                padding: 20px;
                display: block;
                width: 100% !important;
                border: none;
                background-color: $dark-blue-color;
                color: white;
                position: relative;
                box-sizing: border-box;
                outline: none;
                &:focus{
                + .label-name::after {
                    transform: translateX(0%);
                    visibility: visible;
                }
                }
            }
            label {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                pointer-events: none;
                &::after {
                content: "";
                position: absolute;
                left: 0px;
                bottom: -1px;
                height: 1px;
                background: linear-gradient(90deg, #f441a5, #03a9f4);
                width: 100%;
                visibility: hidden;
                transform: visibility;
                transition: transform 0.3s ease;
                }
            }
        }

        button{
            padding: 0 20px;
            height: 50px;
            width: 50%;
            text-align: center;
            line-height: 50px;
            color: #fff;
            font-size: 0.85rem;
            letter-spacing: 0.25rem;
            text-transform: uppercase;
            text-decoration: none;
            box-sizing: border-box;
            // background-color: $blue-color;
            outline: none;
            border: none;
            &:active{
                outline: none;
            }
        }

    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out, color 5000s ease-in-out 0s;
}