body{
    font-family: arial;
}
.fileBtn{ /*fileBtn is the names of the files in the repos*/
    background: none;
    color: black;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 20px;
    margin-bottom:0px;
}
.fileBtn:hover{
    color: #47bfff;
    border-bottom: 1px solid #47bfff;
}
.fileBtn:active{
    color: #47bfff;
    border-bottom: 1px solid #47bfff;
    text-decoration: none;
    background-color: #ECEFF1;
    box-shadow: none;
}
#divResultPath button{ /*divResultPath is the breadcrumbs menu*/
    background: none;
    color: #47bfff;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 20px;
}
#divResultPath button:hover{
    color: #218bc4;
}
#divResultPath button:active{
    box-shadow: none;
}