$background-color: #12163b;
$blue-color: #0b132e;

body{
    background-color: $background-color;
}
  

svg{
    margin: 10px;
}

#contact {
    #footer {
        position: relative;
        top: 20vh;
        left: 0;
    }
}

.jumbotron{
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: $background-color;
    padding: 10px;
}

form {
    position: relative;
    overflow: hidden;
    .input-area {
        margin-bottom: 40px;
        position: relative;
        &.button-area {
        text-align: center;
        margin-bottom: 0;
        }
    }
    input,
    textarea {
        height: 100%;
        letter-spacing: 0.1rem;
        padding: 20px;
        display: block;
        width: 100% !important;
        border: none;
        background-color: $blue-color;
        color: #fff;
        position: relative;
        box-sizing: border-box;
        outline: none;
        &:focus{
        + .label-name::after {
            transform: translateX(0%);
        }
        }
    }
    label {
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        pointer-events: none;
        &::after {
        content: "";
        position: relative;
        left: 0px;
        bottom: -1px;
        height: 1px;
        background: linear-gradient(90deg, #f441a5, #03a9f4);
        width: 100%;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        }
    }
}

button{
    padding: 0 20px;
    height: 50px;
    width: 50%;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 0.85rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    background-color: $background-color;
    outline: none;
    border: 2px solid white;
    &:active{
        outline: none;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out, color 5000s ease-in-out 0s;
}
