@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: "Rubik", sans-serif;
    --font-serif: "Cardo", serif;
}

* {
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Khula:700");
.hidden {
    opacity: 0;
}

.console-container {
    font-family: Khula;
    font-size: 4em;
    text-align: center;
    height: 200px;
    width: 100%;
    display: block;
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.console-underscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 10px;
}

.page-content {
    margin: 2em;
    margin-bottom: 0;
}

.card-img {
    width: 50vh;
    height: 80vh;
    object-fit: cover;
}

.card {
    border: none;
}

.img__wrap {
    position: relative;
}

.content {
    padding: 1em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s, visibility .5s;
}

.img__wrap:hover .content {
    visibility: visible;
    opacity: 1;
}

.title .copy {
    transition: .5s;
    transform: translateY(1em);
}

.img__wrap:hover .title .copy {
    transform: translateY(0);
}

.copy {
    position: absolute;
    bottom: 0;
}